.vscode/settings.json
routes/__pycache__/campoMinado.cpython-314.pyc
routes/__pycache__/home.cpython-314.pyc
/app/routes/__pycache__
app/__pycache__/main.cpython-314.pyc
app/__pycache__/models.cpython-314.pyc
